In [199]:
import pandas as pd

In [200]:
# Reading trading_history_data.csv

columns = ['user_id', 'ids', 'trade_id', 'provider_ticket', 'broker_ticket', 'provider_id', 'provider_name', 'lots', 'trade_type', 'date_open', 'date_closed', 'price_open', 'price_closed', 'max_profit', 'max_profit_date', 'worst_drawdown', 'worst_drawdown_date', 'pips', 'total_pips', 'gross_pnl', 'net_pnl', 'interest', 'commission', 'exists_as_live_trade', 'has_economic_event', 'status_id', 'valid', 'amount', 'currency_id', 'transaction_currency', 'currency', 'pip_multiplier', 'total_accumulated_pips', 'total_accumulated_pnl', 'unix_date_open', 'unix_date_closed', 'unix_max_profit_date', 'unix_worst_drawdown_date']

# Read the CSV file
trading_history_data = pd.read_csv('final_files/trading_history_data.csv', 
                 sep='\|\|', 
                 engine='python',
                 header=None,
                 names=columns, 
                 skipinitialspace=True)  

# Remove the leading '|' from the first column
trading_history_data['user_id'] = trading_history_data['user_id'].str.lstrip('|')

# Dropping unnecessary columns
trading_history_data = trading_history_data[['user_id', 'trade_id', 'lots', 'trade_type', 'date_open', 'date_closed', 'price_open', 'price_closed', 'currency']]

# removing unnecessary quotes
for col in trading_history_data.columns:
    if trading_history_data[col].dtype == 'object':
        trading_history_data[col] = trading_history_data[col].apply(lambda x: x.strip('"') if isinstance(x, str) else x)
      
# Type conversions  
trading_history_data['user_id'] = pd.to_numeric(trading_history_data['user_id'], errors='coerce').astype('Int64')

trading_history_data.loc[:, 'date_open'] = pd.to_datetime(trading_history_data['date_open'])
trading_history_data.loc[:, 'date_closed'] = pd.to_datetime(trading_history_data['date_closed'])

In [201]:
trading_history_data

,user_id,trade_id,lots,trade_type,date_open,date_closed,price_open,price_closed,currency
0,24632,514812394,1.00,BUY,2019-10-14 20:11:11,2019-11-17 17:23:15,108.67300,109.78000,CHF/JPY
1,388129,517500344,0.01,BUY,2019-11-15 16:00:00,2019-11-17 17:01:01,1.89337,1.89552,GBP/AUD
2,373754,517456832,0.20,SELL,2019-11-15 06:36:31,2019-11-15 16:57:49,1.89611,1.89197,GBP/AUD
3,300553,517256771,1.00,BUY,2019-11-13 12:35:06,2019-11-15 16:02:09,0.67633,0.67429,AUD/CHF
4,300553,517365782,1.00,BUY,2019-11-14 09:16:01,2019-11-15 16:02:05,0.67028,0.67431,AUD/CHF
...,...,...,...,...,...,...,...,...,...
1602529,2594,3199973,1.00,SELL,2008-10-20 10:05:06,2008-10-20 13:52:36,1.72508,1.71209,GBP/USD
1602530,2594,3169965,1.00,SELL,2008-10-16 11:03:52,2008-10-20 09:48:54,100.26500,101.64200,USD/JPY
1602531,2594,3191699,1.00,BUY,2008-10-20 00:38:45,2008-10-20 09:48:36,1.73688,1.72373,GBP/USD
1602532,2594,3168888,1.00,SELL,2008-10-16 10:10:33,2008-10-16 11:00:06,1.52141,1.51637,EUR/CHF
1602533,2594,3154401,1.00,SELL,2008-10-15 17:49:47,2008-10-16 01:13:13,1.34644,1.34190,EUR/USD

In [202]:
# Original columns = [scraped_on, userid, open_positions, weeks, roi_annualized, copied_by_real_investors, viewed_no_of_times, last_updated, extra_info, profit_in_pips, winning_trades, trades, necessary_minimum_equity, max_open_trades, maximum_drawdown, avg_pips, avg_trade_time, avg_trade_time_in_secs, private_trader,]

overview_data = pd.read_csv("final_files/overview_page_data_subset.csv")

overview_data = overview_data[['scraped_on', 'userid', 'weeks', 'viewed_no_of_times', 'profit_in_pips', 'trades']]

overview_data.loc[:, 'scraped_on'] = pd.to_datetime(overview_data['scraped_on'])

In [203]:
overview_data

,scraped_on,userid,weeks,viewed_no_of_times,profit_in_pips,trades
0,2019-10-02 23:07:00,105572,370.0,89023.0,154276.1,510.0
1,2019-10-02 23:07:00,105917,381.0,30752.0,-5390.2,1798.0
2,2019-10-02 23:07:00,119035,370.0,224049.0,-1434.3,5358.0
3,2019-10-02 23:07:00,142684,348.0,55813.0,-6618.4,1913.0
4,2019-10-02 23:07:00,147097,344.0,119076.0,1766.5,3102.0
...,...,...,...,...,...,...
82553,2020-05-24 21:08:00,389074,NaN,NaN,NaN,NaN
82554,2020-05-24 21:08:00,41016,NaN,NaN,NaN,NaN
82555,2020-05-24 21:08:00,41513,NaN,NaN,NaN,NaN
82556,2020-05-24 21:08:00,44530,NaN,NaN,NaN,NaN
82557,2020-05-24 21:08:00,97702,NaN,NaN,NaN,NaN

In [204]:
# Original Columns = [time, open, high, low, close, volume, unix, unit]

exchangerate = pd.read_csv("final_files/exchangerate.csv")

exchangerate = exchangerate[['time', 'high', 'low', 'close', 'unit']]

exchangerate.loc[:, 'time'] = pd.to_datetime(exchangerate['time'])

In [205]:
exchangerate

                        time     high      low    close    unit
0        2013-05-16 00:00:00  0.95671  0.95534  0.95647  AUDCHF
1        2013-05-16 01:00:00  0.95663  0.95537  0.95576  AUDCHF
2        2013-05-16 02:00:00  0.95645  0.95538  0.95550  AUDCHF
3        2013-05-16 03:00:00  0.95577  0.95392  0.95398  AUDCHF
4        2013-05-16 04:00:00  0.95410  0.95331  0.95404  AUDCHF
...                      ...      ...      ...      ...     ...
1114662  2021-05-26 10:00:00  0.93969  0.93888  0.93933  AUDCAD
1114663  2021-05-26 11:00:00  0.93978  0.93918  0.93935  AUDCAD
1114664  2021-05-26 12:00:00  0.94087  0.93911  0.94001  AUDCAD
1114665  2021-05-26 13:00:00  0.94001  0.93816  0.93823  AUDCAD
1114666  2021-05-26 14:00:00  0.93852  0.93695  0.93747  AUDCAD

[1114667 rows x 5 columns]

In [206]:
# Original Columns = [open_date, close_date, open_date2, user_id, trade_id, currency, sale, gain, gainhigh, gainlow, lots, trade_type, ret-, ret+, cum_profit, cum_trades, total_trades, cum_duration, total_duration, cum_overall_duration, total_overall_duration, in_top01, in_top05, in_top10, cum_active_days, cum_inactive_days, trade_gain_days, trade_loss_days, trade_gainhigh_days, trade_losshigh_days, trade_gainlow_days, trade_losslow_days, cum_gain_days, cum_loss_days, cum_gainhigh_days, cum_losshigh_days, cum_gainlow_days, cum_losslow_days, cur_avg_day_trades, cur_med_day_trades, cur_std_day_trades, cur_min_day_trades, cur_max_day_trades, cur_avg_dur, cur_med_dur, cur_std_dur, cur_min_dur, cur_max_dur, cur_avg_dur_1pct, cur_med_dur_1pct, cur_std_dur_1pct, cur_max_dur_1pct, cur_avg_dur_5pct, cur_med_dur_5pct, cur_std_dur_5pct, cur_max_dur_5pct, cur_avg_dur_10pct, cur_med_dur_10pct, cur_std_dur_10pct, cur_max_dur_10pct, cum_10consecutive_inactive_days, cum_14consecutive_inactive_days, cum_30consecutive_inactive_days, cum_60consecutive_inactive_days, 24hr_rateroll_avg, 24hr_rateroll_std, 48hr_rateroll_avg, 48hr_rateroll_std, 72hr_rateroll_avg, 72hr_rateroll_std, currencies_per_day, cum_currencies, platform_days, win_ratio, winhigh_ratio, winlow_ratio, last_wk_avg_zrank, last_mo_avg_zrank, last_yr_avg_zrank, last_wk_med_zrank, last_mo_med_zrank, last_yr_med_zrank, last_wk_std_zrank, last_mo_std_zrank, last_yr_std_zrank, page_visit_change, amount_following_change, followers_change, cv_page_visits, cv_amount_following, cv_followers, zulu_rank_change, datecounter, currencycounter, tradecounter, weeks, zulu_rank, page_visits, amount_following, amount_following_new, avg_slippage, avg_drawdown, avg_weekly_best_trade, avg_weekly_worst_trade, followers, overall_drawdown_percent, roi_annualized, roi_profit, ror_based_roi, total_follower_profit, best_trade, all_med_trades, cohort_med_trades, cohort_avg_trades, cohort_med_trades_1pct, cohort_avg_trades_1pct, all_med_dur, cohort_med_dur, cohort_avg_dur, cohort_med_dur_ex1, cohort_avg_dur_ex1, cohort_med_zrank, cohort_med_zrank_ex1, cohort_avg_zrank, cohort_avg_zrank_ex1, cohort_min_zrank, cohort_max_zrank]

compute1 = pd.read_csv('final_files/compute1_Feb04.txt', sep=';', header=0)

compute1 = compute1[['open_date', 'close_date', 'open_date2', 'user_id', 'trade_id', 'gain', 'cum_gain_days', 'cum_profit', 'cum_trades', 'total_trades', 'zulu_rank', 'amount_following', 'amount_following_new' ,'avg_slippage', 'followers', 'total_follower_profit', 'cohort_min_zrank']]

compute1.loc[:, 'open_date'] = pd.to_datetime(compute1['open_date'])
compute1.loc[:, 'close_date'] = pd.to_datetime(compute1['close_date'])
compute1.loc[:, 'open_date2'] = pd.to_datetime(compute1['open_date2'])

In [207]:
compute1

,open_date,close_date,open_date2,user_id,trade_id,gain,cum_gain_days,cum_profit,cum_trades,total_trades,zulu_rank,amount_following,amount_following_new,avg_slippage,followers,total_follower_profit,cohort_min_zrank
0,2019-06-04 21:18:44,2019-06-06 00:05:22,2019-06-04 00:00:00,2594,502522886,1,1,0.0,1977,2036,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2019-06-04 21:18:44,2019-06-06 00:05:22,2019-06-05 00:00:00,2594,502522886,0,2,0.0,1977,2036,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2019-06-04 21:18:44,2019-06-06 00:05:22,2019-06-06 00:00:00,2594,502522886,0,3,7655.0,1980,2036,NaN,NaN,NaN,NaN,NaN,NaN,1
3,2019-06-04 21:19:33,2019-06-06 10:18:54,2019-06-04 00:00:00,2594,502522893,1,1,0.0,1977,2036,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2019-06-04 21:19:33,2019-06-06 10:18:54,2019-06-05 00:00:00,2594,502522893,1,2,0.0,1977,2036,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643479,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-15 00:00:00,389074,520742434,0,76,-11286.5,31,31,10174.0,0.0,0.0,0.0,1.0,0.0,1
643480,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-16 00:00:00,389074,520742434,0,76,-11286.5,31,31,10174.0,0.0,0.0,0.0,1.0,0.0,1
643481,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-17 00:00:00,389074,520742434,0,76,-11286.5,31,31,10174.0,0.0,0.0,0.0,1.0,0.0,1
643482,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-18 00:00:00,389074,520742434,0,76,-11286.5,31,31,10174.0,0.0,0.0,0.0,1.0,0.0,1
643483,2020-03-05 12:52:58,2020-03-19 15:58:18,2020-03-19 00:00:00,389074,520742434,0,76,8713.5,31,31,10174.0,0.0,0.0,0.0,1.0,0.0,1

In [208]:
trading_history_data.to_csv('dropped_files/trading_history_data.csv', index=False)
overview_data.to_csv('dropped_files/overview_page_data.csv', index=False)
exchangerate.to_csv('dropped_files/exchangerate.csv', index=False)
compute1.to_csv('dropped_files/compute1.csv', index=False)